@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Give Feedback</h2>
        @using (Html.BeginForm("Index", "Talk", FormMethod.Get))
        {
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-arrow-right"></span></button>
                </span>
                <input name="code" type="text" maxlength="6" class="form-control" placeholder="Presenter code...">
            </div>
        }
        <p class="small mt10">Your presenter will provide this for you</p>
    </div>
    <div class="col-md-4">
        <h2>Get Feedback</h2>
        @if (User.Identity.IsAuthenticated)
        {
        @Html.ActionLink("Start New Talk", "Create", "Presentation", null, new { @class = "btn btn-success btn-block", role = "button" })
        }
        else
        {
            <div class="well">
                <p class="small">Let's get started by signing in...</p>
                <ul class="list-inline">
                    @Html.Partial("_SigninOptions")
                </ul>    
            </div>
        }
    </div>
</div>