build/
.vs/
*.suo
*.user
bin
Bin
!/bin
obj
_ReSharper*
*.csproj.user
*.resharper.user
*.suo
*.cache
TestResult.xml
*.trx
glob:svninfo.xml
*.log
*.orig
*.docstates
*DS_Store
*.DS_Store
database_backups
.idea
node_modules
src/packages/*/