@model IEnumerable<System.Security.Claims.Claim>
<h2>My Claims</h2>
<table class="table table-striped">
    @foreach (var claim in Model)
    {
        <tr>
            <td>@claim.Type</td>
            <td>@claim.Value</td>
        </tr>
    }
</table>