body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.col-centered{
    margin: 0 auto;
    float: none;
}

footer {
    text-align: center;
}

.mt10 { margin-top: 10px; }


.img-box img {
    padding: 100px;
}

img.logobutton {
    width: 20px;
    height: 20px;
}
.list-inline li.disabled {
    cursor: not-allowed;
}
.list-inline li.disabled img {
    cursor: not-allowed;
}