@model Web.Models.Presentation

<h1>
    <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
    New Presentation
</h1>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)

    <div class="form-group container">
        @Html.TextBoxFor(m => m.Name, new {@class = "form-control", placeholder = "My New Talk"})
        <p class="help-block">This will be what's displayed to people looking for your talk.</p>
    </div>

    <button type="submit" class="btn btn-primary">Done</button>
}
