BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Talk ADD
	IsStarted bit NOT NULL CONSTRAINT DF_Talk_IsStarted DEFAULT 0
GO
ALTER TABLE dbo.Talk SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
